.wrapper {
  width: 100%;
  max-width: 1260px;
  margin: 200px auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: white;
  text-align: center;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 784px;
  gap: 40px;
}

.right-panel {
  width: 100%;
  max-width: 432px;
  height: 244px;
  background-color: #51847a;
}

.card {
  min-height: 400px;
  background-color: gray;
}

@media (min-width: 960px) {
  .wrapper {
    flex-direction: row;
  }

  .right-panel {
    position: sticky;
    top: 100px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    align-items: center;
  }
}
